@charset "utf-8";
@import "reset";
@import "icon-fonts";
@import "mixins";
@media (-webkit-min-device-pixel-ratio: 1.5),(min-device-aspect-ratio){
  .border-1px{
    &::after{
      -webkit-transform : scaleY(0.7);
      transform : scaleY(0.7);
    }
  }
}

@media (-webkit-min-device-pixel-ratio: 2),(min-device-aspect-ratio){
  .border-1px{
    &::after{
      -webkit-transform : scaleY(0.5);
      transform : scaleY(0.5);
    }
  }
}
html{
  overflow-x: hidden;
}
body{
  max-width: 750px;
  margin: 0 auto;
  overflow-x: hidden;
  background-color: #f2f4f6;
}
